body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginPage {
  width: 100%;
}

.login {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login > input {
  border: 1px solid black;
  height: 30px;
  font-size: 15px;
  width: 200px;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 10px;
}

.login > button {
  border: 1px solid olivedrab;
  background-color: olivedrab;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
}

.loginErrorMessage {
  color: red;
}
