body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-top: 5px;
}

button {
  cursor: pointer;
}

#loginForm {
  margin-top: 30vh;
}

.login {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.login > input {
  outline: none;
  border: 1px solid black;
  height: 30px;
  font-size: 15px;
  width: 200px;
  border-radius: 5px;
  padding-left: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

input:focus {
  outline: 2px solid olivedrab;
  border: 1px solid olivedrab;
}

.login > button {
  border: 1px solid olivedrab;
  background-color: olivedrab;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginErrorMessage {
  color: red;
  font-weight: bold;
  font-size: large;
}

#memberList {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#membersTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.memberCard, #newMember, .addMemberCard {
  height: 165px;
  width: 220px; 
  margin: 30px;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#newMember {
  font-size: large;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: olivedrab;
  border: 2px solid olivedrab;
  border-radius: 10px;
}

#newMember:hover {
  background-color: white;
  color: olivedrab;
}

.memberButtons {
  display: flex;
  justify-content: space-evenly;
}

.deleteMember, .editMember {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: olivedrab;
  cursor: pointer;
}

.deleteMember:hover, .editMember:hover {
  color: palegreen;
}

#newMemberIcon {
  font-size: 30px;
}

.memberId {
  color: grey;
  font-size: 10px;
}

.addMemberCard {
  display: flex;
  flex-direction: column;
}

.addMemberCard input {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  height: 20px;
  font-size: 15px;
  text-align: center;
}

.saveMember {
  border: 1px solid olivedrab;
  background-color: olivedrab;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  height: 50px !important;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.saveMember:hover {
  background-color: white;
  color: olivedrab;
}

.react-datepicker__input-container > input {
  text-align: center;
  width: 206px;
}
