body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginForm {
  margin-top: 30vh;
}

.login {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.login > input {
  outline: none;
  border: 1px solid black;
  height: 30px;
  font-size: 15px;
  width: 200px;
  border-radius: 5px;
  padding-left: 10px;
}

.login > input:focus {
  outline: 2px solid olivedrab;
  border: 1px solid olivedrab;
}

.login > button {
  border: 1px solid olivedrab;
  background-color: olivedrab;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
}

.loginErrorMessage {
  color: red;
  font-weight: bold;
  font-size: large;
}

#memberList {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.memberCard, #newMember {
  height: 170px;
  width: 220px; 
  margin: 30px;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}

#newMember {
  font-size: large;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: olivedrab;
}

#newMember:hover {
  color: olivedrab;
  background-color: white;
  border-color: olivedrab;
}
